.header-container{
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.logo-smcp{
  width: 100px;
  height: auto;
}
.main-heading{
  margin-left: 100 ;
  
}

.notification {
  background-color: #f2f2f2;
  color: #333;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  display: inline-block; /* Display notifications in a line */
  animation: slide-left 5s linear infinite; /* Add sliding animation */
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


body{
  background-color: aquamarine;
}
.user-profile {
  display: flex; /* Use flexbox layout */
  align-items: center; /* Align items vertically in the center */
}

.profile-picture {
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  border-radius: 50%; /* Make the image circular */
  margin-right: 10px; /* Add some spacing between the image and username */
}

.username {
  font-size: 18px; /* Adjust the font size as needed */
}






