{% extends 'main.html' %}

{% block content %}
{% load custom_filters %} 

<head>
  <link rel="stylesheet" type="text/css" media="screen" href="/static/styles/aboutchurch.css">

</head>

<body>
  {% if page == 'aboutchurch' %}
  <div class="chruchpicture">
    <img src="/static/images/SMCP Kurishadi.jpg" alt="smcpkurishadi" class="smcpkurishadi">
  </div>
  {% for line in holyservice %}
  <h3>{{line}}</h3>
  {% endfor %}
  <hr>
  <a href="{% url 'history' %}">History</a>
  <hr>
  <a href="{% url 'parishcouncil' %}">Parish Council</a>
  <hr>
  <a href="{% url 'parishpriests' %}">Parish Preists of St. Mary's Church</a>
  <hr>
  <a href="{% url 'numbers' %}">Phone Numbers</a>
  <hr> 
  {% endif %} 
  {% if page == 'subabout' %}
  <table>
    <tr>
      <th>{{column1}}</th>
      <th>{{column2}}</th>
      {% if column3 != None %}
      <th>{{column3}}</th>
      {% endif %}
    </tr>
    {% for member in churchdata %}
    <tr>
      <td>{{ member|getattribute:column1 }}</td>
      <td>{{ member|getattribute:column2 }}</td>
      {% if column3 != None %}
      <td>{{ member|getattribute:column3 }}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</body>


{% endblock %}