{% extends 'main.html' %}

{% block content %}

<div>
<form method="POST" action="" enctype="multipart/form-data">
     {% csrf_token %}
      {{form.as_p}}
     <input type="submit" value="Submit" />

</form>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% if enternotice %}
<form method="POST" action="{% url 'editnoticechange' %}">
    {% csrf_token %}  
    <input type="text" name="matter" placeholder="Enter the Matter" />
    <button type="submit">Submit</button>
</form>
{% endif %}


</div>

{% endblock content %}