{% extends 'main.html' %}
{% block content %}
    <div class="nav-links">
        {% if user.is_superuser %}
            <button class="nav-button" data-href="{% url 'addbcc_unit'  %}">Add Bcc Unit</button></div>
            <div class="gap"></div>
            <button class="nav-button" data-href="{% url 'parishdirectory' %}">Parish Directory</button></div>
            <div class="gap"></div>
            <button class="nav-button" data-href="{% url 'addfamily'  %}">Add Family</button></div>
            <div class="gap"></div>
            <button class="nav-button" data-href="{% url 'addperson'  %}">Add Person</button></div>
            <div class="gap"></div>
            <button class="nav-button" data-href="{% url 'editnotice'  %}">Edit Notice</button></div>
            <div class="gap"></div>
        {% endif %}
        <button class="nav-button" data-href="{% url 'aboutchurch' %}">About Church</button></div>
        <div class="gap"></div>
        <button class="nav-button" data-href="{% url 'notices' %}">Notices</button></div>
        <div class="gap"></div>
        {% if request.user.is_authenticated %}
            <button class="nav-button" data-href="{% url 'quizes:main-view' %}">Quiz</button></div>
            <div class="gap"></div>
        {% endif %}
        <button class="nav-button" data-href="{% url 'resultpage' %}">Result</button></div>
        <div class="gap"></div>
        <button class="nav-button" data-href="{% url 'scoreboard' %}">Scoreboard</button></div>
        <div class="gap"></div>
    </div>
    <script src='/static/js/home.js'></script>
{% endblock content %}
