{% extends 'main.html' %}
{% block content %}
<head>
  <link rel="stylesheet" type="text/css" media="screen" href="/static/styles/parishdirectory.css">

</head>
<body>
  <button class="filterbutton" id="name">Name</button>
  <button class="filterbutton" id="occupation">Occupation</button>
  <button class="filterbutton" id="age_less_than">Age less than</button>
  <button class="filterbutton" id="age_greater_than">Age greater than</button>
  <button class="filterbutton" id="familynumber">Family Number</button>

  <form method="POST" action="{% url 'searchperson' %}">
    {% csrf_token %}
    <input type="hidden" name="cat" value="" id="cat-input">  
    <input type="text" name="q" placeholder="Search person" />
    <button type="submit">Submit</button>
  </form>

  {% for unit in units %}
  <div class="unitbutton">
    <a href="{% url 'unitpage' unit.unitnumber %}">UNIT {{unit.unitnumber}} : {{unit.unitname}}</a>
  </div>
  <div class="gap"></div>
  {% endfor %}
  <script src="/static/js/searchperson.js" >  </script>
  </body>
  

{% endblock content %}
