{% extends 'main.html' %}

{% block content %}
  <h3>Unit: {{ unit.unitnumber }}</h3>
  <h3>Leaders: {{unit.leaders}}</h3>
  <h3>Secretary: {{unit.secretary}}</h3>
  <h3>Pastoral minstry: {{unit.pastoral_minstry}}</h3>
  <h3>Education ministry: {{unit.education_minstry}}</h3>
  <h3>Social Action ministry: {{unit.social_action_minstry}}</h3>
  <h3>Family ministry: {{unit.family_minstry}}</h3>
  <h3>Laity ministry: {{unit.laity_minstry}}</h3>
  <h3>Youth ministry: {{unit.youth_minstry}}</h3>
  {% with nooffam=familys|length %}
  <h4>No of Familes: {{nooffam}}</h4>
  {% endwith %}
  {% for fam in familys %}
    <div>
      <a href="{% url 'familypage' fam.familynumber %}">Family Number: {{fam.familynumber}}</a>
      {% for member in fam.person_set.all %}
      {% if member.relation == 'Head' %}
         <h4>Name: {{ member.name }}</h4>
         <h4>Phone: {{member.phone}}</h4>
      {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
{% endblock content %}
