{% load static %}
{% load custom_filters %}

<html>
<head>
  <title>SMCP website</title>
  <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>

<body>
  <div class="header-container">
    <div>
      <a href="{% url 'home' %}">
        <img src="/static/images/logo-smcp.png" alt="logo-smcp" class="logo-smcp">
      </a>
    </div>
    <div>
      <h3 class="main-heading">Welcome to SMCP website</h3>
    </div>  
  </div>
  <div id="session-warning" style="display: none;"></div>
  <hr>
  <tr>
    <td align="center" colspan="3">
      <marquee behavior="scroll" scrollamount="6" direction="left" style="font-size:14px; font-weight:bold;color:#000000; background-color:#FFFFCC;" onMouseOver="this.stop();" onMouseOut="this.start();">
        &nbsp;&nbsp;
      {% for line in lines %}
        <span style="background-color: {{ forloop.counter0|cycle_colors }}">{{ line }}</span>
      {% endfor %}
      </marquee>
    </td>
  </tr>

  {% include 'navbar.html' %}
  {% block content %}
  {% endblock %}
  {% if user.is_authenticated %}
<script type="text/javascript">
  // Function to display the warning message
  function showSessionWarning() {
      alert("Your session will expire soon. Click OK to continue your session.");
  }

  // Set a timeout to display the warning message 
  var sessionTimeoutWarning = setTimeout(showSessionWarning, 5700); // 5 seconds

  // Reset the timeout if there is user activity (e.g., mouse movement)
  document.addEventListener("mousemove", function () {
      clearTimeout(sessionTimeoutWarning);
      sessionTimeoutWarning = setTimeout(showSessionWarning, 5700); // 5 seconds
  });
  if (confirm("Your session will expire soon. Click OK to continue your session.")) {
        // User clicked "OK," set the flag in the session
        fetch('/extend_session_timeout/', { method: 'POST' })
            .then(response => {
                if (response.ok) {
                    // Reload the page or perform any other action
                }
            });
    }

  // You can also reset the timeout on other user interactions like clicks or keypresses

</script>
{% endif %}

</body>
</html>
