{% load static %}
<html>
<head>
  
  <title>SMCP website</title>
  <link rel="stylesheet" href="{% static 'styles/main.css' %}">
  <script src="{% static 'js/notification.js' %}"></script>




</head>

<body>
  <div class="header-container">
  <div>
    <a href="{% url 'home' %}">
      <img src="/static/images/logo-smcp.png" alt="logo-smcp"  class="logo-smcp">
    </a>
  </div>
  <div>
    <h3>Welcome to SMCP website</h3>
  </div>  
  </div>
  <hr>
  <div id="notification-container"></div>


  {% include 'navbar.html' %}
  {% block content %}

  {% endblock %}
</body>

</html>